In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [3]:
df.shape

(7043, 21)

In [4]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [6]:
df.isnull().sum().sum()

0

In [7]:
df['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [13]:
y = pd.get_dummies(df['Churn'])

In [17]:
y = y.drop(columns='Yes')

In [20]:
x = df.drop('Churn',axis = 'columns')

In [21]:
x

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5

In [22]:
y

      No
0      1
1      1
2      0
3      1
4      0
...   ..
7038   1
7039   1
7040   1
7041   0
7042   1

[7043 rows x 1 columns]

In [23]:
x['Output'] = y

In [24]:
x

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Output
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,1
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,1
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,0
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,1
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,1
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,1
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,1
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,0
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,1

In [25]:
df1_yes = x[x['Output'] == 0]
df1_no = x[x['Output'] == 1]

In [26]:
df1_no.shape,df1_yes.shape

((5174, 21), (1869, 21))

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
import tensorflow as tf
from tensorflow import keras

In [31]:
from sklearn.metrics import classification_report

In [49]:
def Ann(d1,d2):
    d1 = pd.concat([d1,d2],axis=0)
    X = d1.drop('Output',axis = 1)
    Y = d1['Output']
    x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.25,random_state = 0,stratify = Y)
    model = keras.Sequential([
        keras.layers.Dense(Y.shape[0],input_dim=Y.shape[0],activation='relu'),
        keras.layers.Dense(100,activation='relu'),
        keras.layers.Dense(50,activation='relu'),
        keras.layers.Dense(25,activation='relu'),
        keras.layers.Dense(5,activation='relu'),
        keras.layers.Dense(1,activation='sigmoid'),
    ])
    
    model.compile(
        loss = 'binary_crossentropy',
        optimizer = 'adam',
        metrics = ['accuracy']
    )
    
    model.fit(x_train,y_train,epochs = 200,batch_size = 10)
    model.evaluate(x_test,y_test)
    y_pred = model.predict(x_test)
    y_pred = np.round(y_pred)
    report = classification_report(y_test,y_pred)
    return y_pred,report

# 1 sample from majority

In [50]:
df1_no_sample = df1_no.sample(df1_yes.shape[0])

In [51]:
df1_no_sample.shape,df1_yes.shape

((1869, 21), (1869, 21))

# 2 over sampling of minority

In [63]:
df1_yes_over = df1_yes.sample(df1_no.shape[0],replace=True)

In [64]:
df1_yes_over.shape

(5174, 21)

In [65]:
df1_no.shape

(5174, 21)

# 3 smote

In [68]:
pip install imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.9.0-py3-none-any.whl (199 kB)
Requirement already satisfied: scipy>=1.1.0 in c:\users\absha\anaconda3\lib\site-packages (from imbalanced-learn) (1.7.3)
Requirement already satisfied: scikit-learn>=1.0.1 in c:\users\absha\anaconda3\lib\site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in c:\users\absha\anaconda3\lib\site-packages (from imbalanced-learn) (1.21.5)
Requirement already satisfied: joblib>=0.11 in c:\users\absha\anaconda3\lib\site-packages (from imbalanced-learn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\absha\anaconda3\lib\site-packages (from imbalanced-learn) (3.0.0)
Installing collected packages: imbalanced-learn
Successfully installed imbalanced-learn-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [75]:
from imblearn.over_sampling import SMOTE

In [76]:
smote = SMOTE()

In [87]:
x_yes = df1_yes.drop('Output',axis = 1)
y_yes = df1_yes['Output']

In [ ]:
x_yes_over,y_yes_over = smote.fit_resample(x_yes,y_yes)

# 4 Random under sample

In [92]:
from imblearn.under_sampling import RandomUnderSampler

In [93]:
ru = RandomUnderSampler()

In [ ]:
x_yes_under,y_yes_under = ru.fit_resample(x_yes,y_yes)

# 5 use sss for majority and divide into subgroups of shape minority and train with minority one and take maximum

In [ ]:
# after splitting
from sklearn.ensemble import VotingClassifier # or votingregressor 

# classifier will return individual regressor will return average score
model =  VotingClassifier(estimators=[('dt', clf1), ('knn', clf2), ('svc', clf3)] # here you can use multiple models, 
                          voting # voting can be soft or hard,
                          weights=[2, 1, 2] # weights to models)

# 6 Focal loss