In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("iris.csv",header=None)

In [3]:
data.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [4]:
data[4].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: 4, dtype: int64

In [5]:
data.shape

(150, 5)

In [6]:
from sklearn.preprocessing import LabelEncoder
k = LabelEncoder()
data[4] = k.fit_transform(data[4])

In [7]:
data.head()

     0    1    2    3  4
0  5.1  3.5  1.4  0.2  0
1  4.9  3.0  1.4  0.2  0
2  4.7  3.2  1.3  0.2  0
3  4.6  3.1  1.5  0.2  0
4  5.0  3.6  1.4  0.2  0

In [8]:
data[4].value_counts()

0    50
1    50
2    50
Name: 4, dtype: int64

In [9]:
data.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [10]:
data.columns=[0,1,2,3,"Target"]

In [11]:
data0=data.query('Target==0')
data1=data.query('Target==1')
data2=data.query('Target==2')

In [12]:
data0=data0.drop("Target",axis=1)
data1=data1.drop("Target",axis=1)
data2=data2.drop("Target",axis=1)

# Lets Calculate Mean and std for each column

In [13]:
data.head()

     0    1    2    3  Target
0  5.1  3.5  1.4  0.2       0
1  4.9  3.0  1.4  0.2       0
2  4.7  3.2  1.3  0.2       0
3  4.6  3.1  1.5  0.2       0
4  5.0  3.6  1.4  0.2       0

# Gaussian Probability Density Function

In [15]:
import numpy as np

# Class Probabilities

In [16]:
#Here in our Data p(0)=p(1)=p(2)=1/3

In [17]:
def probability(x, mean, stdev):
    exp1 = np.exp(-((x-mean)**2 / (2 * stdev**2 )))
    return (1 / (np.sqrt(2 *3.14) * stdev)) * exp1

In [18]:
def probability1(f1,f2,f3,f4):
    data0_mean=list(data0.mean())
    data0_std=list(data0.std())
    data1_mean=list(data1.mean())
    data1_std=list(data1.std())
    data2_mean=list(data2.mean())
    data2_std=list(data2.std())
    l1=[f1,f2,f3,f4]
    pro=[]
    def calculation(m,s,d):
        mul=1
        for i,j,p in zip(m,s,d):
            k1=probability(p,i,j)
            mul=mul*k1
        mul=mul*1/3
        return mul
    pro.append(calculation(data0_mean,data0_std,l1))
    pro.append(calculation(data1_mean,data1_std,l1))
    pro.append(calculation(data2_mean,data2_std,l1))
    return pro

Lets predict the class for given data
5.9,3.0,5.1,1.8

In [19]:
probability1=probability1(5.9,3,5.1,1.8)

In [20]:
probability1

[5.945553029537943e-143, 0.0049002123065114405, 0.07693498587663207]

In [21]:
max(probability1)

0.07693498587663207

In [22]:
max_value=max(probability1)

In [23]:
prediction_class = probability1.index(max_value)

In [24]:
prediction_class

2