In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('ShartankIndiaAllPitches.csv')

In [ ]:
df.head(5)

In [ ]:
df.shape

Number of yes and no per shark

In [ ]:
df['Anupam'].value_counts()

In [ ]:
df['Ashneer'].value_counts()

In [ ]:
list(df['Namita'].value_counts())

In [ ]:
import mysql.connector

In [ ]:
db = mysql.connector.connect(host = 'localhost',user = 'root',password = 'Emmabhi@15', database = 'newdatabase')

In [ ]:
curs = db.cursor()

In [ ]:
curs.execute('Create table shark_tank (Name_of_shark varchar(30), count_of_Y varchar(5), count_N varchar(5));')

In [ ]:
df.columns

In [ ]:
name = ['Anupam','Ashneer','Namita','Aman','Peyush','Vineeta','Ghazal']
county = [list(df[name[0]].value_counts())[0],list(df[name[1]].value_counts())[0],list(df[name[2]].value_counts())[0],list(df[name[3]].value_counts())[0],list(df[name[4]].value_counts())[0],list(df[name[5]].value_counts())[0],list(df[name[6]].value_counts())[0]]

In [ ]:
countn = [list(df[name[0]].value_counts())[1],list(df[name[1]].value_counts())[1],list(df[name[2]].value_counts())[1],list(df[name[3]].value_counts())[1],list(df[name[4]].value_counts())[1],list(df[name[5]].value_counts())[1],list(df[name[6]].value_counts())[1]]

In [ ]:
name

In [ ]:
county

In [ ]:
countn

In [ ]:
data = (name,county,countn)

In [ ]:
m = []
for i in range(len(name)):
    m.append((name[i],county[i],countn[i]))
print(m)

In [ ]:
curs.executemany('Insert into shark_tank values (%s,%s,%s)',m)

In [ ]:
db.commit()

# Case 3

In [ ]:
n = df['Anupam']

In [ ]:
n = n.replace('N',0)

In [ ]:
inv = df['Investment Amount (In Lakhs INR) '].values

In [ ]:
n= n.values

In [ ]:
n2 = df['Ashneer'].replace('N',0).values
n3 = df['Namita'].replace('N',0).values
n4 = df['Aman'].replace('N',0).values
n5 = df['Peyush'].replace('N',0).values
n6 = df['Vineeta'].replace('N',0).values
n7 = df['Ghazal'].replace('N',0).values

In [ ]:
aray_lsit = [n,n2,n3,n4,n5,n6,n7]
ne = []
for x in aray_lsit:
    x = np.array(x)
    x = pd.Series(x)
    x = x.replace('Y',1)
    x = list(x.values)
    ne.append(x)

In [ ]:
ne1 = ne[0]
ne2 = ne[1]
ne3 = ne[2]

ne4 = ne[3]
ne5 = ne[4]
ne6 = ne[5]
ne7 = ne[6]

In [ ]:
ne1_ = []
for i in ne1:
    i = float(i)
    ne1_.append(i)

In [ ]:
ne2_ = []
for i in ne2:
    i = float(i)
    ne2_.append(i)
ne3_ = []
for i in ne3:
    i = float(i)
    ne3_.append(i)
ne4_ = []
for i in ne4:
    i = float(i)
    ne4_.append(i)
ne5_ = []
for i in ne5:
    i = float(i)
    ne5_.append(i)
ne6_ = []
for i in ne6:
    i = float(i)
    ne6_.append(i)
ne7_ = []
for i in ne7:
    i = float(i)
    ne7_.append(i)

In [ ]:
last = []
z = []
for i in zip(ne1_,ne2_,ne3_,ne4_,ne5_,ne6_,ne7_):
    z.append(sum(i))
for j in range(len(df['Investment Amount (In Lakhs INR) '])):
    last.append(df['Investment Amount (In Lakhs INR) '][j]/z[j])

In [ ]:
len(z)

In [ ]:
len(last)

In [ ]:
117*117

In [ ]:
df['investment'] = last

In [ ]:
df = df.fillna(0)

In [ ]:
for i in df:
    for j in range(dhttp://localhost:8888/notebooks/Shark%20tank.ipynb#f.shape[0]):
        if df[i][j] == 'Y':
            df[i][j] = df['investment'][j]

In [ ]:
df = df.replace('N',0)

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df_ = df.drop(columns = ['Episode Number', 'Pitch Number', 'Brand', 'Idea',
       'Investment Amount (In Lakhs INR) ', 'Debt (In lakhs INR)', 'Equity'])

In [ ]:
total = []
for i in df_:
    total.append(sum(df[i].values))

In [ ]:
total

In [ ]:
db_ = mysql.connector.connect(host = 'localhost',user = 'root',password = 'Emmabhi@15', database = 'newdatabase')

In [ ]:
c = db_.cursor()

In [ ]:
c.execute('Create table shark_tank_ (Name_of_shark varchar(30), total_invested_amount varchar(20));')

In [ ]:
out = []
for i in range(len(name)):
    out.append((name[i],total[i]))
print(out)

In [ ]:
curs.executemany('Insert into shark_tank_ values (%s,%s)',out)